<DIV ng-controller="DatosPersonalesController">
<div class="popover-content" >
	<form action="" class="smart-form">													
		<section class="col col-12">
			<label class="input"> <i class="icon-prepend fa fa-user"></i>
				<input type="text" name="fname" placeholder="Nombres" ng-model="nombreMod">
			</label>
		</section>
		<section class="col col-12">
			<label class="input"> <i class="icon-prepend fa fa-user"></i>
				<input type="text" name="lname" placeholder="Apellido Paterno" ng-model="ape1Mod">
			</label>
		</section>
		<section class="col col-12">
			<label class="input"> <i class="icon-prepend fa fa-user"></i>
				<input type="text" name="lname" placeholder="Apellido Materno" ng-model="ape2Mod">
			</label>
		</section>												
		
		<div class="modal-footer">	
			<button type="button" ng-click="modificaDatos1()" class="btn btn-primary btn-sm">
				Grabar Cambios
			</button>
			<button type="button" id="btnCancelar" class="btn btn-danger btn-sm" onclick="$('#popoverApellidosNombres').popover('hide');">
				Cancelar
			</button>
		</div>
	</form>
</div>	
</DIV>



<script src="Controlador/MantenimientoPersonaControler.js"></script>