<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

	<!-- col -->
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark">
			<!-- PAGE HEADER -->
			<i class="fa-fw fa fa-puzzle-piece"></i> 
				Consultores
			<span>>  
				Perfil
			</span>
		</h1>
	</div>
	<!-- end col -->

	<!-- end col -->

</div>
<!-- end row -->

<!-- row -->

<div class="row">

	<div class="col-sm-12">


			<div class="well well-sm">

				<div class="row">

					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="well well-light well-sm no-margin no-padding" ng-controller="ControladorDatosPersonales">

							<div class="row" >

								<div class="col-sm-12">
									<div id="myCarousel" class="carousel fade profile-carousel">
										<div class="air air-bottom-right padding-10">
											<a href="javascript:void(0);" class="btn txt-color-white bg-color-teal btn-sm"><i class="fa fa-check"></i> Editar</a>&nbsp; <a href="javascript:void(0);" class="btn txt-color-white bg-color-pinkDark btn-sm" ng-click="cargaDatos()"><i class="fa fa-link"></i> Cargar</a>
										</div>
										<div class="air air-top-left padding-10">
											<h4 class="txt-color-white font-md">Jan 1, 2015</h4>
										</div>
										<div class="carousel-inner">
											<!-- Slide 1 -->
											<div class="item active">
												<img src="img/demo/s2.jpg" alt="">
											</div>
										</div>
									</div>
								</div>

								<div class="col-sm-12">

									<div class="row">

										<div class="col-sm-3 profile-pic">
											<img src="img/avatars/sunny-big.png">
											<div class="padding-10">
												<h4 class="font-md"><strong>1,543</strong>
												<br>
												<small>Puntaje</small></h4>
												<br>
												<h4 class="font-md"><strong>419</strong>
												<br>
												<small>Proyectos</small></h4>
											</div>
										</div>
										<div class="col-sm-6">
											<h1 >{{DatosPersonales[0].apellidosPa}} <span class="semi-bold">{{DatosPersonales[0].apellidosMa}}</span>
											<br>
											<small> {{DatosPersonales[0].nombres}}</small></h1>

											<ul class="list-unstyled">
												<li>
													<p class="text-muted">
														<i class="fa fa-phone"></i>&nbsp;&nbsp;(<span class="txt-color-darken">313</span>) <span class="txt-color-darken">464</span> - <span class="txt-color-darken">6473</span>
													</p>
												</li>
												<li>
													<p class="text-muted">
														<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:simmons@smartadmin">ceo@smartadmin.com</a>
													</p>
												</li>
												<li>
													<p class="text-muted">
														<i class="fa fa-home"></i>&nbsp;&nbsp;<span class="txt-color-darken">john12</span>
													</p>
												</li>
												<li>
													<p class="text-muted">
														<i class="fa fa-flag-o"></i>&nbsp;&nbsp;<span class="txt-color-darken">Nacionalidad: {{DatosPersonales[0].nacionalidad}}</span>
													</p>
												</li>
												<li>
													<p class="text-muted">
														<i class="fa fa-building"></i>&nbsp;&nbsp;<span class="txt-color-darken">Documento {{DatosPersonales[0].tipodocidentidad}}: {{DatosPersonales[0].numerodocidentidad}}</span>
													</p>
												</li>
												<li>
													<p class="text-muted">
														<i class="fa fa-building"></i>&nbsp;&nbsp;<span class="txt-color-darken">Estado Civil: {{DatosPersonales[0].estadocivil}}</span>
													</p>
												</li>
											</ul>
											
											<br>
											<a href="javascript:void(0);" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Send Message</a>
											<br>
											<br>

										</div>
										<div class="col-sm-3">
											<h1><small>Proyectos Recientes</small></h1>
											<ul class="list-inline friends-list">
												<li><img src="img/avatars/1.png" alt="friend-1">
												</li>
												<li><img src="img/avatars/2.png" alt="friend-2">
												</li>
												<li><img src="img/avatars/3.png" alt="friend-3">
												</li>
												<li><img src="img/avatars/4.png" alt="friend-4">
												</li>
												<li><img src="img/avatars/5.png" alt="friend-5">
												</li>
												<li><img src="img/avatars/male.png" alt="friend-6">
												</li>
												<li>
													<a href="javascript:void(0);">413 Proyectos en Total</a>
												</li>
											</ul>

										</div>

									</div>

								</div>

							</div>

							<div class="row">

								<div class="col-sm-12">

									<hr>

									<div class="padding-10">

										<ul class="nav nav-tabs tabs-pull-right">
											<li class="active">
												<a href="#a1" data-toggle="tab">Recent Articles</a>
											</li>
											<li>
												<a href="#a2" data-toggle="tab">New Members</a>
											</li>
											<li class="pull-left">
												<span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
											</li>
										</ul>

										<div class="tab-content padding-top-10">
											<div class="tab-pane fade in active" id="a1">

												<div class="row">

													<div class="col-xs-2 col-sm-1">
														<time datetime="2014-09-20" class="icon">
															<strong>Jan</strong>
															<span>10</span>
														</time>
													</div>

													<div class="col-xs-10 col-sm-11">
														<h6 class="no-margin"><a href="javascript:void(0);">Allice in Wonderland</a></h6>
														<p>
															Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi Nam eget dui.
															Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
															sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.
														</p>
													</div>

													<div class="col-sm-12">

														<hr>

													</div>

													<div class="col-xs-2 col-sm-1">
														<time datetime="2014-09-20" class="icon">
															<strong>Jan</strong>
															<span>10</span>
														</time>
													</div>

													<div class="col-xs-10 col-sm-11">
														<h6 class="no-margin"><a href="javascript:void(0);">World Report</a></h6>
														<p>
															Morning our be dry. Life also third land after first beginning to evening cattle created let subdue you'll winged don't Face firmament.
															You winged you're was Fruit divided signs lights i living cattle yielding over light life life sea, so deep.
															Abundantly given years bring were after. Greater you're meat beast creeping behold he unto She'd doesn't. Replenish brought kind gathering Meat.
														</p>
													</div>

													<div class="col-sm-12">

														<br>

													</div>

												</div>

											</div>
											<div class="tab-pane fade" id="a2">

												<div class="alert alert-info fade in">
													<button class="close" data-dismiss="alert">
														×
													</button>
													<i class="fa-fw fa fa-info"></i>
													<strong>51 new members </strong>joined today!
												</div>

												<div class="user" title="email@company.com">
													<img src="img/avatars/female.png"><a href="javascript:void(0);">Jenn Wilson</a>
													<div class="email">
														travis@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
													<div class="email">
														marshall@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
													<div class="email">
														joe@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
													<div class="email">
														mike@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Travis Wilson</a>
													<div class="email">
														travis@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
													<div class="email">
														marshall@company.com
													</div>
												</div>
												<div class="user" title="Joe Cadena joe@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
													<div class="email">
														joe@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
													<div class="email">
														mike@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
													<div class="email">
														marshall@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
													<div class="email">
														joe@company.com
													</div>
												</div>
												<div class="user" title="email@company.com">
													<img src="img/avatars/male.png"><a href="javascript:void(0);"> Mike McBride</a>
													<div class="email">
														mike@company.com
													</div>
												</div>

												<div class="text-center">
													<ul class="pagination pagination-sm">
														<li class="disabled">
															<a href="javascript:void(0);">Prev</a>
														</li>
														<li class="active">
															<a href="javascript:void(0);">1</a>
														</li>
														<li>
															<a href="javascript:void(0);">2</a>
														</li>
														<li>
															<a href="javascript:void(0);">3</a>
														</li>
														<li>
															<a href="javascript:void(0);">...</a>
														</li>
														<li>
															<a href="javascript:void(0);">99</a>
														</li>
														<li>
															<a href="javascript:void(0);">Next</a>
														</li>
													</ul>
												</div>

											</div><!-- end tab -->
										</div>

									</div>

								</div>

							</div>
							<!-- end row -->

						</div>

					</div>
				</div>

			</div>


	</div>

</div>

<!-- end row -->

</section>
<!-- end widget grid -->
<script src="Controlador/PersonaControler.js"></script>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript(".../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS

	// pagefunction
	
	var pagefunction = function() {
		
	};
	
	// end pagefunction
	
	// run pagefunction on load

	pagefunction();

</script>
